body{


    background-image: url(fundo.png);

    margin: 40px;

    height: 100vh;

}

 

*{

    margin: 0;

    padding: 0;

    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;

}

 

.interface{

    max-width: 1280px;

    margin: 0 auto;

}

 

.flex {

    display: flex;

}

 

#img_redonda {

    height: 100px;

    width: 100px;

}

 




 

.txt-topo-do-site{
    
    color: azure;
    font-weight: bold;
    justify-content: center;
    line-height: 600px;
    text-align: left;
    font-size:35px;

}

.sub{
    color: azure;
    font-weight: bold;
    justify-content: center;
    text-align: left;
    font-size:20px;

    
}

 

/*ESTILO DA CABEÇALHO*/

header{

    padding: 5px 3%;

}

 

header > .interface{

    display: flex;

    align-items: last baseline;

    justify-content: space-between;

}

 

header a{

    color: #F5DEB3;

    text-decoration: none;

    display: inline-block;

    transition: .2s;

}

 

header a:hover{

    color: #F5DEB3;

    transform: scale(1.05);

}

 

header nav ul{

    list-style-type: none;

}

 

header nav li{

    display: inline-block;

    padding: 0 30px;

}

 



 

/* ESTILO DO TOPO DO SITE */

 

section.topo-do-site .flex {

    align-items: center;

    justify-content: center;

    gap: 90px;

}

 

.topo-do-site h1 {

    color: #ebe9e9;

    font-size: 40px;

    line-height: 40px;

}

.menu-desktop{
    justify-content: center;
}

 


 
